%form{form_attrs}>
  - elements.each do |element|
    - case element.class.to_s
    - when 'Textarea'
      %label{for: element.attrs[:name]} #{element.attrs[:name].capitalize}
      %textarea{element.attrs} #{element.value}
    - when 'Text'
      %label{for: element.attrs[:name]} #{element.attrs[:name].capitalize}
      %input{element.attrs}
    - when 'Submit'
      %input{element.attrs}
